h4{
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  color: black;
  text-align: center;
  margin: 0px;
}

.clock-text {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 0.2;
  font-weight: bold;
  color: black;
}

.time-box{
  display: flex;
  justify-content: left;
  background-color: white;
  margin-left: 110px;
}
