.intro-text{
  color: darkblue;
  font-family: 'Amatic SC', cursive, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 0.2;
  font-style: underline;
}

.weather-box .city-text {
  font-family: 'Amatic SC', cursive, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  line-height: 0.2;
}

.weather-box .weather-description-text{
  font-family: 'Amatic SC', cursive, sans-serif;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  line-height: 0.2;
  font-weight: bold;

}

.weather-box .temperatur-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 35px;
  color: darkblue;
  line-height: 0.2;
  font-weight: bold;
}

.weather-icon img{
  width: 55px;
  height: 55px;
}

.weather-box{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 25px;
  text-align: center;
  line-height: 0.2;
}
