body {
  background-color: white;
}

h1 {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  color: black;
  text-align: center;
  margin: 0px;
}

i{
  color: darkblue;
}

.box-container-img{
  display: flex;
  justify-content: flex-end;
}

.StockholmRight{
  align-items: right;
}

.activity-text {
  text-align: center;
}

.select-option{
  margin: 30px;
  background-color: darkblue;
  border: none;
  color: white;
  font-size: 15px;
}

@media (max-width: 600px) {

		h1 {
		font-size: 20px;
    text-align: center;
		}

    .activity-text u {
      font-size: 30px;
    }

    .oneActivity {
      margin: 5px;
      width: calc(100% - 80px);
    }

    .Stockholm{
      width: 80%;
    }

    .clock-text{
      font-size: 20px;
      margin-left: 73px;
    }
}

/* TABLETS-SIZE */
@media (min-width: 600px){
  	h1 {
  	  font-size: 45px;
      text-align: center;
  	}

    .activity-text u {
      font-size: 40px;
    }

    .oneActivity {
      margin: 5px;
      width: calc(50% - 80px);
    }

    .clock-text{
      font-size: 35px;
      margin-left: 390px;
    }
}

/* DESKTOP-SIZE */
@media (min-width: 900px){
.oneActivity {
  margin: 5px;
  width: calc(25% - 78px);
  }
}
