body {
  background-color: white;
}

h1 {
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  color: black;
  text-align: center;
  margin: 0px;
}

.Stockholm-img{
  width: 20%;
  /* align-items: center; */
  text-align: center;
}


@media (max-width: 600px) {

		h1 {
		font-size: 40px;
    text-align: center;
		}

    .activity-text u {
      font-size: 30px;
    }

    .oneActivity {
      margin: 5px;
      width: calc(100% - 20px);
      /* background-color: green; */
    }
}

/* TABLETS-SIZE */
@media (min-width: 600px) and (max-width: 900px) {
  	h1 {
  	  font-size: 60px;
      text-align: center;
  	}

    .activity-text u {
      font-size: 40px;
    }

    .oneActivity {
      margin: 5px;
      width: calc(50% - 70px);
}
}
